<ion-header class="ion-padding ion-text-center">
  <ion-toolbar>
    <ion-title>Cargar Artista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container ion-padding">
  <ion-list class="list" lines="none">
    <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-label position="floating">Nombre.</ion-label>
        <ion-input
          class="input"
          formControlName="name"
          type="text"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Descripcion.</ion-label>
        <ion-input
          class="input"
          formControlName="description"
          type="text"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Categoria.</ion-label>
        <ion-input
          class="input"
          formControlName="category"
          type="text"
          required
        >
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block"
            >Add</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
