<ion-header [translucent]="true" class="ion-padding ion-text-center">
  <ion-toolbar>
    <ion-title>Cargar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainContainer ion-padding">
    <div class="formContainer ion-padding">
      <h1>Ingrese los datos requeridos.</h1>
      <!---------------------------------------------- MAIN FORM ----------------------------------------------->
      <form [formGroup]="venueForm">
        <ion-item-divider>ARTISTAS</ion-item-divider>



        <!---------------------------------------------- APARTADO ARTISTAS ----------------------------------------------->
        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Artistas.</ion-label>
            <ion-select multiple="true" formControlName="artists">
              <ion-select-option *ngFor="let artista of artistas" [value]="artista">{{artista.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>


        <div class="action-button ion-padding">
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-button expand="block" (click)="inputCustomArtist()">Agregar Artista</ion-button>
            </ion-col>
          </ion-row>
        </div>

        <!---------------------------------------------- END-ARTISTAS----------------------------------------------->

        <ion-item-divider>HORARIO</ion-item-divider>

        <div formArrayName="eventSchedules" *ngFor="let eventSchedule of venueForm.get('eventSchedules')['controls']; let i = index">
        <div [formGroupName]="i">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="formInput">
                  <ion-item>
                    <ion-label position="floating">Duracion en horas.</ion-label>
                    <ion-input formControlName="durationInHours" type="text"></ion-input>
                  </ion-item>
                </div>

              </ion-col>

              <ion-col>
                <div class="formInput">
                  <ion-item>
                    <ion-label position="floating">Fecha y hora de inicio.</ion-label>
                    <ion-datetime formControlName="startHour" min="2021" max="2025-12-31"
                      displayFormat="D MMM YYYY H:mm" placeholder="Select Date">
                    </ion-datetime>
                  </ion-item>
                </div>
              </ion-col>

              <ion-col>
                <div class="formInput">
                  <ion-item>
                    <ion-label position="floating">Dia de la semana.</ion-label>
                    <ion-input formControlName="weekDay" type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>


        </div>


        <div class="action-button ion-padding">
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-button expand="block" (click)="addHorarioButtonClick()">Agregar Horario.</ion-button>
            </ion-col>
          </ion-row>
        </div>


        <!---------------------------------------------- DATOS RECINTO ----------------------------------------------->
        <h1> </h1>
        <ion-item-divider>RECINTO</ion-item-divider>




        <div formGroupName="fairground">


          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Lugar del evento.</ion-label>
              <ion-select formControlName="fairgroundName" (ionChange)="loadInfo()">
                <ion-select-option *ngFor="let recinto of recintos" [value]="recinto">{{recinto.fairgroundName}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Secuencia</ion-label>
              <ion-input type="text" formControlName="sequence"></ion-input>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Codigo Postal</ion-label>
              <ion-input type="text" formControlName="fairgroundZipCode"></ion-input>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Latitud</ion-label>
              <ion-input type="text" formControlName="fairgroundLatitude"></ion-input>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Altitud</ion-label>
              <ion-input type="text" formControlName="fairgroundLongitud"></ion-input>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Direccion</ion-label>
              <ion-input type="text" formControlName="fairgroundStreet"></ion-input>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Numero Externo</ion-label>
              <ion-input type="text" formControlName="fairgroundExternalNumber"></ion-input>
            </ion-item>
          </div>

          <div class="formInput">
            <ion-item>
              <ion-label position="floating">Numero Interno</ion-label>
              <ion-input type="text" formControlName="fairgroundInternalNumber"></ion-input>
            </ion-item>
          </div>



        </div>

        <div class="action-button ion-padding">
          <ion-row>
            <ion-col size="6" offset="3">
              <ion-button (click)="inputCustomFairground()" expand="block">Agregar Recinto</ion-button>
            </ion-col>
          </ion-row>
        </div>

        <!---------------------------------------------- END-RECINTO ----------------------------------------------->

        <ion-item-divider>INFORMACIÓN GENERAL</ion-item-divider>
        <!---------------------------------------------- INFO GENERAL ----------------------------------------------->

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Nombre del evento.</ion-label>
            <ion-input formControlName="nameEvent" type="text">
            </ion-input>
          </ion-item>
        </div>


        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Porcentaje de Comisión.</ion-label>
            <ion-input formControlName="percentageComission" type="text">
            </ion-input>
          </ion-item>
        </div>

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Disponibilidad.</ion-label>
            <ion-input formControlName="availability" type="text">
            </ion-input>
          </ion-item>
        </div>

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Descripción.</ion-label>
            <ion-input formControlName="briefDescription" type="text">
            </ion-input>
          </ion-item>
        </div>

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Categorias.</ion-label>
            <ion-select formControlName="category">
              <ion-select-option *ngFor="let category of categories" [value]="category">{{category.categoryName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Numero de Cortesias.</ion-label>
            <ion-input type="text" formControlName="cortesyAmount"></ion-input>
          </ion-item>
        </div>

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Fecha Inicio.</ion-label>
            <ion-datetime formControlName="dateStartEvent" min="2021" max="2025-12-31" displayFormat="D MMM YYYY H:mm"
              placeholder="Select Date">
            </ion-datetime>
          </ion-item>
        </div>

        <div class="formInput">
          <ion-item>
            <ion-label position="floating">Fecha Termino.</ion-label>
            <ion-datetime formControlName="dateEndEvent" min="2021" max="2025-12-31" displayFormat="D MMM YYYY H:mm"
              placeholder="Select Date">
            </ion-datetime>
          </ion-item>
        </div>

        <!---------------------------------------------- END-INFO----------------------------------------------->
      </form>

      <div class="action-button ion-padding">
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-button (click)="onSubmit()" expand="block">Add</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
